src/test/java/cz/registrdigitalizace/harvest/db/dataset.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2011 Jan Pokorsky

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.
-->

<!--
Data model snapshot.
-->

<!ELEMENT dataset (
    digknihovna*,
    digobjekt*,
    digvazby*,
    dlists*,
    metadata*,
    plaant_ids*,
    thumbnails*,
    xpreddigobj*)>

<!ELEMENT digknihovna EMPTY>
<!ATTLIST digknihovna
    id CDATA #REQUIRED
    adresaorg CDATA #IMPLIED
    encodinginputxml CDATA #IMPLIED
    encodingoutputxml CDATA #IMPLIED
    formatdat CDATA #IMPLIED
    lastharvest CDATA #IMPLIED
    nazevorg CDATA #IMPLIED
    oaipmhcommand CDATA #IMPLIED
    oaipmhserverbaseurl CDATA #IMPLIED
    kontakt CDATA #IMPLIED
    protokol CDATA #IMPLIED
    software CDATA #IMPLIED
    nazev CDATA #IMPLIED
    zkratka CDATA #IMPLIED
    urldigknihovny CDATA #IMPLIED
    moznostisklizeni CDATA #IMPLIED
    stav CDATA #IMPLIED
    rprispevatel_digknihovna CDATA #IMPLIED
    rprispevatel_digknihovnamf CDATA #IMPLIED
>

<!ELEMENT digobjekt EMPTY>
<!ATTLIST digobjekt
    id CDATA #REQUIRED
    druhdokumentu CDATA #IMPLIED
    formatxml CDATA #IMPLIED
    XML CDATA #IMPLIED
    uuid CDATA #IMPLIED
    isleaf CDATA #IMPLIED
    rpredloha_digobjekt CDATA #IMPLIED
    rpredloha_digobjektmf CDATA #IMPLIED
    stav CDATA #IMPLIED
    zaldate CDATA #IMPLIED
    edidate CDATA #IMPLIED
    rdigknihovna_digobjekt CDATA #IMPLIED
    rdigknihovna_digobjektmf CDATA #IMPLIED
>

<!ELEMENT digvazby EMPTY>
<!ATTLIST digvazby
    id CDATA #REQUIRED
    poradi CDATA #IMPLIED
    potomek CDATA #IMPLIED
    digknihovna CDATA #IMPLIED
    digknihovnamf CDATA #IMPLIED
    predek CDATA #IMPLIED
    predekmf CDATA #IMPLIED
>

<!ELEMENT metadata EMPTY>
<!ATTLIST metadata
    id CDATA #REQUIRED
    value CDATA #IMPLIED
    valid CDATA #IMPLIED
    reliefname CDATA #IMPLIED
    rdigobjekt_metadata CDATA #IMPLIED
    rdigobjekt_metadatamf CDATA #IMPLIED
>

<!ELEMENT dlists EMPTY>
<!ATTLIST dlists
    id CDATA #REQUIRED
    classname CDATA #REQUIRED
    value CDATA #IMPLIED
    cz CDATA #IMPLIED
    en CDATA #IMPLIED
    de CDATA #IMPLIED
    fr CDATA #IMPLIED
    poznamka CDATA #IMPLIED
    use CDATA #IMPLIED
    poradi CDATA #IMPLIED
>

<!ELEMENT plaant_ids EMPTY>
<!ATTLIST plaant_ids
    deskname CDATA #REQUIRED
    id CDATA #REQUIRED
>

<!ELEMENT thumbnails EMPTY>
<!ATTLIST thumbnails
    digobjektid CDATA #REQUIRED
    tnfilename CDATA #REQUIRED
    mime CDATA #REQUIRED
    contents CDATA #IMPLIED
>

<!ELEMENT xpreddigobj EMPTY>
<!ATTLIST xpreddigobj
    id CDATA #REQUIRED
    revizestav CDATA #IMPLIED
    revizeprac CDATA #IMPLIED
    revizedate CDATA #IMPLIED
    rdigobjekt CDATA #IMPLIED
    rdigobjektmf CDATA #IMPLIED
    rpredloha CDATA #IMPLIED
    rpredlohamf CDATA #IMPLIED
    rpredlohaxdo CDATA #IMPLIED
    rpredlohaxdomf CDATA #IMPLIED
>
